.profile {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    color: #fff;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-flow: column;
        padding-top: 42px;
    }
}
