.popup__submit-button {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2px;
}

.popup__submit-button:hover {
    opacity: .8;
    transition: opacity 0.5s ease-out;
}


@media screen and (max-width: 768px) {
    .popup__submit-button {
        font-size: 14px;
        padding: 14px 0;
    }
}
