.popup__submit-button {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: opacity .4s ease-out;
}

.popup__submit-button:hover {
  opacity: .8;
}


@media screen and (max-width: 768px) {
    .popup__submit-button {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 0;
    }
}
