.button-edit {
    background-color: transparent;
    border: none;
    grid-area: button-edit;
    margin: 0;
    padding: 0;
    align-self: end;
    width: 24px;
    height: 24px;
    background-image: url("../../images/edit-button.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.button-edit:hover {
    cursor: pointer;
    opacity: .6;
    transition: opacity 0.5s ease-out;
}

@media screen and (max-width: 768px) {
    .button-edit {
        width: 18px;
        height: 18px;
    }
}
