.button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    background-color: transparent;
    height: 50px;
    width: 150px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
}

.button-add:hover {
    cursor: pointer;
    opacity: .6;
    transition: opacity 0.5s ease-out;
}