.profile__info {
    display: grid;
    grid-template-columns: fit-content(100%);
    grid-template-rows: 40px 32px;
    grid-template-areas:
            "profile-info-name button-edit"
            "profile-info-description .";
    gap: 6px 18px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        grid-template-columns: 18px fit-content(100%) 18px;
        grid-template-areas:
            ". profile-info-name button-edit"
            ". profile-info-description .";
        grid-template-rows: 26px 24px;
        text-align: center;
        margin: 26px 0 33px;
        gap: 7px 10px;
    }
}