.profile-info {
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
            "profile-info-name button-edit"
            "profile-info-description .";
    gap: 16px 18px;
    padding-left: 30px;
}