.footer {
    color: #545454;
    font-size: 18px;
    line-height: 22px;
    padding: 67px 19px 0;
    max-width: 918px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 48px 19px 0;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}


