.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  width: 100%;
  min-height: 27px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.popup__input:focus {
  color: #000;
}

.popup__input:valid {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.popup__input:focus:invalid {
  color: #000;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}





